@model IEnumerable<WebApplication24.Models.Salary>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CutOfsalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraForEachMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CutOfsalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraForEachMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Fname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SalaryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SalaryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SalaryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
