@model WebApplication24.Models.MemberCard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MemberCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Fname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Fname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberShip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberShip.MemberShipName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
