@model IEnumerable<WebApplication24.Models.Offers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PercantageOffer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfMonthsInOffer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PercantageOffer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfMonthsInOffer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfferId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OfferId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OfferId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
