@model IEnumerable<WebApplication24.Models.EmplyeeJob>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task.NameOfTask)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmplyeeJobId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmplyeeJobId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmplyeeJobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
