@model IEnumerable<WebApplication24.Models.joins>
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com  on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Invoice - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            var doc = new jsPDF();
            var specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true;
                }
            };
            $('#cmd').click(function () {
                doc.fromHTML($('#target').html(), 15, 15, {
                    'width': 170,
                    'elementHandlers': specialElementHandlers
                });
                doc.save('sample-file.pdf');
            });
        });
    </script>

</head>
<body id="target">


        <div class="col-md-12" id="content">
            <div class="row">

                <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                    <div class="row">
                        <div class="receipt-header">
                            <div class="col-xs-6 col-sm-6 col-md-6">

                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                                <div class="receipt-right">

                                </div>
                            </div>
                        </div>
                    </div>

                    @using (Html.BeginForm("SalaySlip", "Employees", FormMethod.Post))
                    {
                        foreach (var data in Model)
                        {
                            <div class="row">
                                <div class="receipt-header receipt-header-mid">
                                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                                        <div class="receipt-right">
                                            <h5>@data.employee.Fname @data.employee.Lname </h5>
                                            <p><b>Employee :</b> @data.employee.EmployeeId</p>
                                            <p><b>Mobile :</b>@data.employee.Phone</p>
                                            <p><b>Email :</b> @data.logins.Email</p>
                                            <p><b>Address :</b> Jordan</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <div class="receipt-left">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-md-9">Extra for each month</td>
                                            <td class="col-md-3"><i class="fa fa-inr"></i>@data.salary.ExtraForEachMonth</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-9">Cut OF Salary</td>
                                            <td class="col-md-3"><i class="fa fa-inr"></i>@data.salary.CutOfsalary</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-9">Salary</td>
                                            <td class="col-md-3"><i class="fa fa-inr"></i>@data.salary.Salary1</td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <div class="receipt-header receipt-header-mid receipt-footer">
                                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                                        <div class="receipt-right">
                                            <p><b>Date :</b> @DateTime.Now</p>
                                            <h5 style="color: rgb(140, 140, 140);">Thanks for your effort.!</h5>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <div class="receipt-left">
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
        <button id="cmd">generate PDF</button>
        <style type="text/css">
            body {
                background: #eee;
                margin-top: 20px;
            }

            .text-danger strong {
                color: #9f181c;
            }

            .receipt-main {
                background: #ffffff none repeat scroll 0 0;
                border-bottom: 12px solid #333333;
                border-top: 12px solid #9f181c;
                margin-top: 50px;
                margin-bottom: 50px;
                padding: 40px 30px !important;
                position: relative;
                box-shadow: 0 1px 21px #acacac;
                color: #333333;
                font-family: open sans;
            }

                .receipt-main p {
                    color: #333333;
                    font-family: open sans;
                    line-height: 1.42857;
                }

            .receipt-footer h1 {
                font-size: 15px;
                font-weight: 400 !important;
                margin: 0 !important;
            }

            .receipt-main::after {
                background: #414143 none repeat scroll 0 0;
                content: "";
                height: 5px;
                left: 0;
                position: absolute;
                right: 0;
                top: -13px;
            }

            .receipt-main thead {
                background: #414143 none repeat scroll 0 0;
            }

                .receipt-main thead th {
                    color: #fff;
                }

            .receipt-right h5 {
                font-size: 16px;
                font-weight: bold;
                margin: 0 0 7px 0;
            }

            .receipt-right p {
                font-size: 12px;
                margin: 0px;
            }

                .receipt-right p i {
                    text-align: center;
                    width: 18px;
                }

            .receipt-main td {
                padding: 9px 20px !important;
            }

            .receipt-main th {
                padding: 13px 20px !important;
            }

            .receipt-main td {
                font-size: 13px;
                font-weight: initial !important;
            }

                .receipt-main td p:last-child {
                    margin: 0;
                    padding: 0;
                }

                .receipt-main td h2 {
                    font-size: 20px;
                    font-weight: 900;
                    margin: 0;
                    text-transform: uppercase;
                }

            .receipt-header-mid .receipt-left h1 {
                font-weight: 100;
                margin: 34px 0 0;
                text-align: right;
                text-transform: uppercase;
            }

            .receipt-header-mid {
                margin: 24px 0;
                overflow: hidden;
            }

            #container {
                background-color: #dcdcdc;
            }
        </style>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>

        <script type="text/javascript" src="http://cdn.uriit.ru/jsPDF/libs/adler32cs.js/adler32cs.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>



        <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.addimage.js"></script>

        <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.standard_fonts_metrics.js"></script>

        <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.split_text_to_size.js"></script>

        <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.from_html.js"></script>



</body>
</html>